html body {
  background: #e8e8e4;
}

.cocktail-container {

}

.cocktail-container .cocktail-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-bottom: 1px dashed darkslategrey;
}

.cocktail-container .cocktail-item:last-child {
  border: none;
}

.cocktail-container .cocktail-item img {
  width: 720px;
}

.cocktail-container .cocktail-item .cocktail-description {
  text-align: center;
  margin-top: 30vh;
}

.cocktail-container .cocktail-item .cocktail-description p {
  font-style: italic;
}